<div class="col-sm-4">
<p class="module-heading">Network</p>
<p><span class="h1">12</span> contacts per account</p>
<table class="table table-condensed table-module-detail">
  <tr>
    <th></th>
    <th style="text-align:right;"><small>% benchmark</small></th>
    <th style="text-align:right;"><small>last period</small></th>
  </tr>
  <tr class="selected">
    <td>Contacts per account</td>
    <td style="text-align:right;">30%</td>
    <td style="text-align:right;">
      <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 20%</span>
    </td>
  </tr>
  <tr>
    <td>Network account breadth</td>
    <td style="text-align:right;">17%</td>
    <td style="text-align:right;">
      <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 10%</span>
    </td>
  </tr>
  <tr>
    <td>External network size</td>
    <td style="text-align:right;">10%</td>
    <td style="text-align:right;">
      <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </td>
  </tr>
  <tr>
    <td>Internal network size</td>
    <td style="text-align:right;">23%</td>
    <td style="text-align:right;">
      <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </td>
  </tr>
</table>
<div id="acct-network-trend"></div>
<script>
  $(function () {
    Highcharts.setOptions(Highcharts.theme);
    $('#acct-network-trend').highcharts({
        chart: {
            type: 'line',
            height: 175
        },
        title: {
            text: null
        },
        xAxis: {
            categories: ['1', '2', '3', '4'],
            title: {
              text: 'Weeks'
            }
        },
        yAxis: {
            title: {
                text: 'Contacts / acct'
            }
        },
        series: [{
            name: 'Your region',
            data: [8, 7, 4, 5]
        }, {
            name: 'Club 115',
            data: [4, 5, 4, 3]
        }], 
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        }
    });
});
</script>
</div>
<div class="col-md-8">
<p class="module-heading">Contacts per Account: District Overview</p>
<div id="acct-network-contacted"></div>
<script>
$(function () {
  $('#acct-network-contacted').highcharts({
    chart: {
      height: 335
    },
    title: {
      text: ''
    },
    tooltip: {
      shared: true,
      useHTML: true,
      headerFormat: '<span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top">',
      pointFormat: ' {point.y}%',
      footerFormat: '</i></span>'
    },
    xAxis: {
      categories: ['District 2', 'District 5', 'District 3', 'District 1', 'District 4'],
      title: {
        text: null
      }
    },
    yAxis: {
      title: {
        text: 'Total hours imposed'
      },
      plotLines: [{
        color: '#000000',
        width: 1,
        value: 500,
        zIndex:10,
        label: {
          text: 'Goal',
          align: 'right',
          x: 0
        }
      }]
    },
    legend: {
      enabled: false
    },
    plotOptions: {
      line: {
        dataLabels: {
          enabled: false
        },
        enableMouseTracking: false,
      },
      series: {
        marker: {
          enabled: true,
          radius: 2
        }
      }
    },
    series: [{
      type: 'column',
      color: '#A6D53A',
      data: [ 
      { y:250 },
      { y:350 },
      { y:375 },
      { y:450 },
      { y:680, color: '#666666'}
      ]
    }],
    credits: {
      enabled: false
    },
    exporting: {
      enabled: false
    }
  });
});
</script>
</div>