<p class="module-heading">Account Information</p>
<table class="table">
  <thead>
    <tr>
      <th>Account Name</th>
      <th>Region</th>
      <th>Status</th>
      <th>Group Needed</th>
      <th>Last Contacteedd</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Company Name</td>
      <td>East</td>
      <td>Engaged</td>
      <td>ISR</td>
      <td>5 days</td>
    </tr>    
    <tr>
      <td>Company Name</td>
      <td>East</td>
      <td>Engaged</td>
      <td>ISR</td>
      <td>5 days</td>
    </tr>    
    <tr>
      <td>Company Name</td>
      <td>East</td>
      <td>Engaged</td>
      <td>ISR</td>
      <td>5 days</td>
    </tr>    
    <tr>
      <td>Company Name</td>
      <td>East</td>
      <td>Engaged</td>
      <td>ISR</td>
      <td>5 days</td>
    </tr>    
    <tr>
      <td>Company Name</td>
      <td>East</td>
      <td>Engaged</td>
      <td>ISR</td>
      <td>5 days</td>
    </tr>
  </tbody>
</table>
<p style="text-align:center;">
  <button class="btn btn-primary btn-sm">Load More</button>
</p>