<ul class="nav-local">
	<li class="active">
		<span class="abbr-badge">E</span> East  <span class="pull-right">200 <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span></span>
	</li>
	<li>
		<span class="abbr-badge">W</span> West <span class="pull-right">200 <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span></span>
	</li>
	<li>
		<span class="abbr-badge">LA</span> Latin America <span class="pull-right">200 <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span></span>
	</li>
</ul>