<table class="table table-condensed table-module-detail" style="margin-left:-10px;margin-right:-10px;">
  <tr>
    <th></th>
    <th style="text-align:right;"><small>% benchmark</small></th>
    <th style="text-align:right;"><small>last period</small></th>
  </tr>
  <tr class="selected">
    <td><span class="abbr-badge">E</span> East</td>
    <td style="text-align:right;">200</td>
    <td style="text-align:right;">
      <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 20%</span>
    </td>
  </tr>
  <tr>
    <td><span class="abbr-badge">W</span> West</td>
    <td style="text-align:right;">175</td>
    <td style="text-align:right;">
      <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </td>
  </tr>
  <tr>
    <td><span class="abbr-badge">LA</span> Latin America</td>
    <td style="text-align:right;">150</td>
    <td style="text-align:right;">
      <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 20%</span>
    </td>
  </tr>
</table>