<div class="panel panel-default">
  <div class="panel-body">
    <p class="module-heading">Network</p>
    <p><span class="h1">350</span> accounts contacted</p>
    <table class="table table-condensed table-hover local-nav-table">
      <tr>
        <td><a href="#" id="" class="local-nav-link active">Accounts contacted</a></td>
        <td style="text-align:right;">30% <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 20%</span></td>
      </tr>
      <tr>
        <td><a id="avg-duration-trigger" href="#">Accounts engaged</a></td>
        <td style="text-align:right;">17% <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span></td>
      </tr>
      <tr>
        <td><a id="avg-attendees-trigger" href="#">Cumulative</a></td>
        <td style="text-align:right;">10% <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span></td>
      </tr>
      <tr>
        <td><a id="avg-attendees-trigger" href="#">CSIOs contacted</a></td>
        <td style="text-align:right;">23% <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span></td>
      </tr>
    </table>
    <div id="team-network-trend"></div>
    <script>
      $(function () {
        Highcharts.setOptions(Highcharts.theme);
        $('#team-network-trend').highcharts({
            chart: {
                type: 'line',
                height: 175
            },
            title: {
                text: null
            },
            xAxis: {
                categories: ['1', '2', '3', '4'],
                title: {
                  text: 'Weeks'
                }
            },
            yAxis: {
                title: {
                    text: 'Accounts contacted'
                }
            },
            series: [{
                name: 'Your region',
                data: [8, 7, 4, 5]
            }, {
                name: 'Club 115',
                data: [4, 5, 4, 3]
            }], 
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            }
        });
    });
    </script>
  </div>
</div>