<p class="module-heading">Account Coverage</p>
<div class="col-md-6">
<p><span class="h1">350</span> accounts contacted</p>
<table class="table table-condensed table-module-detail">
  <tr>
    <th></th>
    <th style="text-align:right;"><small>% benchmark</small></th>
    <th style="text-align:right;"><small>last period</small></th>
  </tr>
  <tr class="selected">
    <td>Accounts contacted</td>
    <td style="text-align:right;">30%</td>
    <td style="text-align:right;">
      <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 20%</span>
    </td>
  </tr>
  <tr>
    <td>Accounts engaged</td>
    <td style="text-align:right;">17%</td>
    <td style="text-align:right;">
      <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 10%</span>
    </td>
  </tr>
  <tr>
    <td>Cumulative</td>
    <td style="text-align:right;">10%</td>
    <td style="text-align:right;">
      <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </td>
  </tr>
  <tr>
    <td>CISOs contacted</td>
    <td style="text-align:right;">23%</td>
    <td style="text-align:right;">
      <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </td>
  </tr>
</table>
<div id="team-acct-coverage"></div>
<script>
  $(function () {
    Highcharts.setOptions(Highcharts.symcTheme);
    $('#team-acct-coverage').highcharts({
        chart: {
            type: 'line',
            height: 175
        },
        title: {
            text: null
        },
        xAxis: {
            categories: ['1', '2', '3', '4'],
            title: {
              text: 'Weeks'
            }
        },
        yAxis: {
            title: {
                text: 'Accounts contacted'
            }
        },
        series: [{
            name: 'Your region',
            data: [8, 7, 4, 5]
        }, {
            name: 'Club 115',
            data: [4, 5, 4, 3]
        }], 
        credits: {
            enabled: false
        },
        exporting: {
            enabled: false
        }
    });
});
</script>
</div>
<div class="col-md-6">
<div id="team-acct-accounts"></div>
<script>
$(function () {
  $('#team-acct-accounts').highcharts({
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: 0,
      plotShadow: false
    },
    title: {
      text: '<span class="h1">710</span><br>total accounts',
      align: 'center',
      verticalAlign: 'middle',
      // y: 40
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        dataLabels: {
          enabled: true,
          distance: -50,
          style: {
            fontWeight: 'bold',
            color: 'white',
            textShadow: '0px 1px 2px black'
          }
        },
        // startAngle: -90,
        // endAngle: 90,
        // center: ['50%', '75%']
      }
    },
    series: [{
      type: 'pie',
      name: 'Percentage of accounts',
      innerSize: '50%',
      data: [
      ['Contacted', 33.333],
      ['Engaged', 33.333],
      ['Cold', 33.333],
      {
        name: 'Proprietary or Undetectable',
        y: 0.2,
        dataLabels: {
          enabled: false
        }
      }]
    }],
    exporting: {
      enabled: false
    },
    credits: {
      enabled: false
    }
  });
});
</script>
</div>