<p class="module-heading">Behavioral Metrics</p>
<table class="table">
  <thead>
    <tr>
      <th>Rep Name</th>
      <th>Region</th>
      <th>District</th>
      <th>Accounts Engaged</th>
      <th>Time w Customer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Last</td>
      <td>East</td>
      <td>District</td>
      <td>12</td>
      <td>6 hours</td>
    </tr>
    <tr>
      <td>First Last</td>
      <td>East</td>
      <td>District</td>
      <td>12</td>
      <td>6 hours</td>
    </tr>
    <tr>
      <td>First Last</td>
      <td>East</td>
      <td>District</td>
      <td>12</td>
      <td>6 hours</td>
    </tr>
  </tbody>
</table>