---
layout: default
title:
permalink: /charts/
---
<div class="row">
    <div class="col-md-8">
      <h3>Charts</h3>
      <hr>
      <h5 id="stacked-bar-chart">Stacked Bar</h5><div class="show-code">{% include progress-bar-2.html %}</div><hr>
      <h5 id="area-range-chart">Area Range Line Chart</h5><div class="show-code">{% include area-range-line.html %}</div><hr>
      <h5 id="radar-chart">Radar Chart</h5><div class="show-code">{% include radar-chart.html %}</div><hr>
      <h5 id="column-chart">Column Chart</h5><div class="show-code">{% include column-chart.html %}</div><hr>
      <h5 id="area-spline-trend-chart">Area Spline w/ Trend</h5><div class="show-code">{% include impact-panel-2.html %}</div><hr>
      <h5 id="grouped-column-chart">Grouped Column</h5><div class="show-code">{% include after-hours-email-panel.html %}</div><hr>
      <h5 id="grouped-column-goal-chart">Grouped Column w/ Goal</h5><div class="show-code">{% include hours-worked-panel.html %}</div><hr>
      <h5 id="half-donut-chart">Donut (Half)</h5><div class="show-code">{% include reoccurring-meetings-panel.html %}</div><hr>
      <h5 id="line-chart">Line Chart</h5><div class="show-code">{% include time-panel-mgr.html %}</div><hr>
    </div>
  </div>