---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Design</h1>
      <p class="lead">Principles, guidelines and assets for designing and building Volometrix products</p>
      <p><strong>Version:</strong> This version was created for Gene.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      {% assign components_by_type = site.components | group_by: "type" %}
      {% for type in components_by_type %}
        <h5>{{ type.name }}</h5>
        {% for entry in type.items %}
          {% include component.html %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
