---
layout: offcanvas
title: Product  
permalink: /product/
page-title: Product Styleguilde
page-type: product
---
<hr id="charts-section">
<h3>Charts</h3>
<hr>
  <p class="filter-group">Filter: <a href="#" data-filter="*">All</a> <a href="#" data-filter=".personal-goals">Personal Goals</a></p>
<hr>
<h4>Personal Goals</h4>
<div class="grid">
  <div class="grid-item personal-goals">
    <h5 id="stacked-bar-chart">Stacked Bar</h5><div class="show-code">{% include progress-bar-2.html %}</div><hr>
  </div>
  <div class="grid-item">
    <h5 id="area-range-chart">Area Range Line Chart</h5><div class="show-code">{% include area-range-line.html %}</div><hr>
  </div>
  <div class="grid-item">
    <h5 id="radar-chart">Radar Chart</h5><div class="show-code">{% include radar-chart.html %}</div><hr>
  </div>
  <div class="grid-item">
    <h5 id="column-chart">Column Chart</h5><div class="show-code">{% include column-chart.html %}</div><hr>
  </div>
  <div class="grid-item">
    <h5 id="area-spline-trend-chart">Area Spline w/ Trend</h5><div class="show-code">{% include impact-panel-2.html %}</div><hr>
  </div>
  <div class="grid-item">
    <h5 id="grouped-column-chart">Grouped Column</h5><div class="show-code">{% include after-hours-email-panel.html %}</div><hr>
  </div>
  <div class="grid-item">
    <h5 id="half-donut-chart">Donut (Half)</h5><div class="show-code">{% include reoccurring-meetings-panel.html %}</div><hr>    
  </div>
  <div class="grid-item">
    <h5 id="line-chart">Line Chart</h5><div class="show-code">{% include time-panel-mgr.html %}</div><hr>
  </div>
</div>
<script>
$(function(){
  var $grid = $('.grid').isotope({
    itemSelector: '.grid-item'
  });
  $('.filter-group').on('click', 'a', function(){
    var filterValue = $(this).attr('data-filter');
    $grid.isotope({ 
      filter: filterValue,
      layoutMode: 'fitRows'
    });
  });
});
</script>