{% include sales/headerRow.html %}
<h3 style="text-align:center">Account Coverage July 2015</h3><br>
  <section class="section"><p class="section-title">Account Coverage</p>
    <div class="row">
      <!-- <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">41</span><strong>%</strong> met of sales reps met the benchmark of <strong>10.5 hours</strong>.</p>
        <p>Reps averaged <strong>8.8 hours</strong> with customers.</p>
      </div> -->
      <div class="col-xs-3" style="padding-right:0;">
        <div id="ac-chart-east"></div>
        <script>
        $(function () {
            $('#ac-chart-east').highcharts({
                chart: {
                    type: 'column',
                    margin: [0,0,50,0]
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'East',
                    verticalAlign: 'bottom',
                    style: {
                      fontSize: '13px'
                  }
                },
                xAxis: {
                    categories: ['April', 'May' ,'June', 'July']
                },
                yAxis: {
                    min: 0,
                    max: 1750,
                    title: {
                        text: null
                    },
                    labels: {
                      enabled: false
                    }
                },
                legend: {
                  enabled: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true
                        }
                    },
                    series: {
                      groupPadding: 0
                  }
                },
                series: [{
                  name: 'Contacted',
                  data: [ 474, 466, 449, 370 ]
                },{
                  name: 'Engaged',
                  data: [ 284, 349, 342, 332 ]
                },{
                  name: 'Cumulative Engaged',
                  type: 'spline',
                  lineWidth: 0,
                  color: '#70AD47',
                  marker: {
                    radius: 8
                  },
                  data: [ 284, 454, 548, 617 ]
                }],
                exporting: {
                  enabled: false
                },
                credits: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <div class="col-xs-3" style="padding-left:0;padding-right:0;">
        <div id="ac-chart-west"></div>
        <script>
        $(function () {
            $('#ac-chart-west').highcharts({
                chart: {
                    type: 'column',
                    margin: [0,0,50,0]
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'West',
                    verticalAlign: 'bottom',
                    style: {
                      fontSize: '13px'
                  }
                },
                xAxis: {
                    categories: ['April', 'May' ,'June', 'July']
                },
                yAxis: {
                    min: 0,
                    max:1750,
                    title: {
                        text: null
                    },
                    labels: {
                      enabled: false
                    }
                },
                legend: {
                  enabled: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true
                        }
                    },
                    series: {
                      groupPadding: 0
                  }
                },
                series: [{
                  name: 'Contacted',
                  data: [ 382, 368, 354, 321 ]
                },{
                  name: 'Engaged',
                  data: [ 153, 158, 157, 127 ]
                },{
                  name: 'Cumulative Engaged',
                  type: 'spline',
                  lineWidth: 0,
                  color: '#70AD47',
                  marker: {
                    radius: 8
                  },
                  data: [ 227, 365, 441, 503 ]
                }],
                exporting: {
                  enabled: false
                },
                credits: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <div class="col-xs-3" style="padding-left:0;padding-right:0;">
        <div id="ac-chart-lamc"></div>
        <script>
        $(function () {
            $('#ac-chart-lamc').highcharts({
                chart: {
                    type: 'column',
                    margin: [0,0,50,0]
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'LAMC',
                    verticalAlign: 'bottom',
                    style: {
                      fontSize: '13px'
                  }
                },
                xAxis: {
                    categories: ['April', 'May' ,'June', 'July']
                },
                yAxis: {
                    min: 0,
                    max: 1750,
                    title: {
                        text: null
                    },
                    labels: {
                      enabled: false
                    }
                },
                legend: {
                  enabled: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true
                        }
                    },
                    series: {
                      groupPadding: 0
                  }
                },
                series: [{
                  name: 'Contacted',
                  data: [ 153, 158, 157, 127 ]
                },{
                  name: 'Engaged',
                  data: [ 91, 144, 155, 117 ]
                },{
                  name: 'Cumulative Engaged',
                  type: 'spline',
                  lineWidth: 0,
                  color: '#70AD47',
                  marker: {
                    radius: 8
                  },
                  data: [ 91, 181, 231, 253 ]
                }],
                exporting: {
                  enabled: false
                },
                credits: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <div class="col-xs-3" style="padding-left:0;">
        <div id="ac-chart-all"></div>
        <script>
        $(function () {
            $('#ac-chart-all').highcharts({
                chart: {
                    type: 'column',
                    margin: [0,0,50,0]
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Americas Total',
                    verticalAlign: 'bottom',
                    style: {
                      fontSize: '13px'
                  }
                },
                xAxis: {
                    categories: ['April', 'May' ,'June', 'July']
                },
                yAxis: {
                    min: 0,
                    max: 1750,
                    title: {
                        text: null
                    },
                    labels: {
                      enabled: false
                    }
                },
                legend: {
                  enabled: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true
                        }
                    },
                    series: {
                      groupPadding: 0
                  }
                },
                series: [{
                  name: 'Contacted',
                  data: [ 807, 851, 749, 720 ]
                },{
                  name: 'Engaged',
                  data: [ 506, 690, 481, 500 ]
                },{
                  name: 'Cumulative Engaged',
                  type: 'spline',
                  lineWidth: 0,
                  color: '#70AD47',
                  marker: {
                    radius: 8
                  },
                  data: [ 284, 454, 548, 617 ]
                }],
                exporting: {
                  enabled: false
                },
                credits: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
    </div>
  </section>