{% include sales/headerRow.html %}
<h3 style="text-align:center">Definitions</h3><br>
  <section class="section">
    <div class="row">
      <div class="col-xs-8">
      	<dl>
      		<dt>Accounts Contacted</dt>
      		<dd>Accounts to whom Symantec/Region sent an email or with whom they met, but collaboration wasn't substantiative enough to qualify as &#8220;engaged&#8221;</dd>
      		<br>
      		<dt>Accounts Engaged</dt>
      		<dd>Accounts with whom Symantec/Region had at least one (1) meeting and spent at least 30 minutes during the period.</dd>
      		<br>
      		<dt>Cumulative Engaged</dt>
      		<dd>Running total of Accounts with whom Symantec/Region has engaged since April 15.</dd>
      	</dl>
      </div>
    </div>
  </section>