{% include sales/headerRow.html %}
<h3 style="text-align:center">A Week In The Life July 2015</h3><br>
  <section class="section">
    <p class="section-title">Meeting and email time with customer</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">41</span><strong>%</strong> met of sales reps met the benchmark of <strong>10.5 hours</strong>.</p>
        <p>Reps averaged <strong>8.8 hours</strong> with customers.</p>
      </div>
      <div class="col-xs-9">
        <div id="awl-c115"></div>
        <script>
          $(function () {
            $('#awl-c115').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Club 115',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true
                },
                yAxis: {
                    title: {
                        text: 'Ave hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:8 },
                    { y:8 }, 
                    { y:4, color: '#FDC44C' }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:9 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:8 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:9 },
                    { y:11, color: '#70AD47'}, 
                    { y:7 } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="awl-east"></div>
        <script>
          $(function () {
            $('#awl-east').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'East',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true
                },
                yAxis: {
                    title: {
                        text: 'Ave hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:8 },
                    { y:8 }, 
                    { y:4, color: '#FDC44C' }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:9 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:8 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:9 },
                    { y:11, color: '#70AD47'}, 
                    { y:7 } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="awl-west"></div>
        <script>
          $(function () {
            $('#awl-west').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'West',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true
                },
                yAxis: {
                    title: {
                        text: 'Ave hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:8 },
                    { y:8 }, 
                    { y:4, color: '#FDC44C' }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:9 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:8 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:9 },
                    { y:11, color: '#70AD47'}, 
                    { y:7 } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="awl-lamc"></div>
        <script>
          $(function () {
            $('#awl-lamc').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'LAMC',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true
                },
                yAxis: {
                    title: {
                        text: 'Ave hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:8 },
                    { y:8 }, 
                    { y:4, color: '#FDC44C' }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:9 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:8 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:9 },
                    { y:11, color: '#70AD47'}, 
                    { y:7 } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
      </div>
    </div>
  </section>