{% include sales/headerRow.html %}
<h3 style="text-align:center">A Week In The Life July 2015</h3><br>
  <section class="section">
    <p class="section-title">Summary</p>
    <div class="row">
      <div class="col-xs-12">
        <!-- <p>&nbsp;</p>
        <p><span class="h3">41</span><strong>%</strong> met of sales reps met the benchmark of <strong>10.5 hours</strong>.</p>
        <p>Reps averaged <strong>8.8 hours</strong> with customers.</p> -->
        <div id="awl-time-chart"></div>
        <script>
          $(function () {
            $('#awl-time-chart').highcharts({
                chart: {
                    type: 'bar'
                },
                colors: ['#E2A712','#C04A1B','#496B86','#608CAE','#7FA5C4','#AFC6D9','#919191'],
                title: {
                    text: null
                },
                xAxis: {
                    categories: ['Club 115', 'East', 'West', 'LAMC']
                },
                yAxis: {
                    min: 0,
                    max: 40,
                    title: {
                        text: 'Hours'
                    },
                    labels: {
                      enabled: false
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true
                    }
                  }
                },
                series: [{
                    name: 'Not in Meetings/Email',
                    data: [11.0, 13.9, 10.8, 16.1]
                },{
                    name: 'PM and Services',
                    data: [null, 1.2, 1.1, 0.5]
                },{
                    name: 'Within Group',
                    data: [null, 3.4, 3.1, 1.9]
                },{
                    name: 'SE',
                    data: [null, 4.8, 5.9, 4.0]
                },{
                    name: 'Other Internal',
                    data: [15.9, 5.0, 5.5, 7.3]
                },{
                    name: 'Other External',
                    data: [1.9, 2.0, 3.1, 2.9]
                },{
                    name: 'Customer',
                    data: [11.3, 9.6, 10.5, 7.4]
                }],
                exporting: {
                  enabled: false
                },
                credits: {
                  enabled: false
                }
            });
        });
        </script>

      </div>
    </div>

  </section>