{% include sales/headerRow.html %}
<h3 style="text-align:center">LAMC Region Summary for July 2015</h3><br>
  <section class="section">
    <p class="section-title">Meeting and Email Time with Customer</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">27</span><strong>%</strong> of sales reps met the benchmark of <strong>10.5 hours</strong>.</p>
        <p>Reps averaged <strong>7.6 hours</strong> with customers.</p>
      </div>
      <div class="col-xs-9">
        <div id="lr-time-mgr-ave"></div>
        <p style="text-align:center;"><small><em>Benchmark currently based on Sales (AM) behaviors. More appropriate benchmark for LAMC is currently being considered.</em></small></p>
        <script>
          $(function () {
            $('#lr-time-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: [ 'LAMC (All)', 'Mexico', 'Brazil', 'Other Country' ]
                },
                yAxis: {
                    title: {
                        text: 'Avg. hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [ {color:'#496B86',y:7}, 8, {color:'#70AD47',y:7}, 3 ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
        <li><span class="legend-color" style="background:#496B86"></span> Informational element</li>
      </ul>
    </div>
    <p class="section-title">Unique Accounts Contacted</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">0</span><strong>%</strong> of sales reps met the benchmark of <strong>16 accounts</strong>.</p>
        <p>Reps averaged <strong>4.9 accounts</strong>.</p>
      </div>
      <div class="col-xs-9">
        <div id="lr-contact-mgr-ave"></div>
        <script>
          $(function () {
            $('#lr-contact-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: ['LAMC (All)', 'Brazil', 'Mexico']
                },
                yAxis: {
                    title: {
                        text: 'Number of accounts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [{color:'#496B86',y:5},4,6]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#496B86"></span> Informational element</li>
      </ul>
    </div>
    <p class="section-title">Accounts Within Rep's Network</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">13</span><strong>%</strong> of sales reps met the benchmark of <strong>40 contacts</strong>.</p>
        <p>Reps averaged <strong>24 accounts</strong>.</p>
      </div>
      <div class="col-xs-9">
        <div id="lr-network-size-mgr-ave"></div>
        <script>
          $(function () {
            $('#lr-network-size-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: ['LAMC (All)','Mexico','Brazil','Other Country']
                },
                yAxis: {
                    title: {
                        text: 'Number of accounts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [{color:'#496B86',y:12},{color:'#70AD47',y:13},{color:'#70AD47',y:12},{color:'#70AD47',y:6}]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
        <li><span class="legend-color" style="background:#496B86"></span> Informational element</li>
      </ul>
    </div>
    <p class="section-title">Account Contacts Within Rep's Network</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">13</span><strong>%</strong> of sales reps met the benchmark of <strong>18 accounts</strong>.</p>
        <p>Reps averaged <strong>11 accounts</strong>.</p>
      </div>
      <div class="col-xs-9">
        <div id="lr-network-breadth-mgr-ave"></div>
        <script>
          $(function () {
            $('#lr-network-breadth-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: [ 'LAMC (All)', 'Mexico', 'Brazil', 'Other Country']
                },
                yAxis: {
                    title: {
                        text: 'Number of accounts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [{color:'#496B86',y:25},{color:'#70AD47',y:27},{color:'#70AD47',y:26},{color:'#70AD47',y:7}]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
        <li><span class="legend-color" style="background:#496B86"></span> Informational element</li>
      </ul>
    </div>
  </section>