{% include sales/headerRow.html %}
<h3 style="text-align:center">Region and District Summary for July 2015</h3><br>
  <section class="section">
    <p class="section-title">Accounts Within Rep's Network</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">35</span><strong>%</strong> of sales reps met the benchmark of <strong>18 accounts</strong> in their network.</p>
        <p>Reps averaged <strong>16 accounts</strong> in their network.</p>
      </div>
      <div class="col-xs-9">
        <div id="rd-network-size-reg-ave"></div>
        <script>
          $(function () {
            $('#rd-network-size-reg-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#FDC44C' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true,
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of accounts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [17,18,9]
                },{
                  name: 'May',
                  data: [18,19,12]
                },{
                  name: 'June',
                  data: [19,20,14]
                },{
                  name: 'July',
                  data: [16,18,11]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="rd-network-size-mgr-ave"></div>
        <ul class="region-legend">
          <li style="width:45.555%">East</li>
          <li style="width:35.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <script>
          $(function () {
            $('#rd-network-size-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                  categories: [ 'Young', 'Quigley', 'Al-Shorafa', 'Ross', 'Bradley', 'Wrast', 'Miranda', 'Moran', 'Holleron', 'Mexico', 'Brazil' ]
                },
                yAxis: {
                    title: {
                        text: 'Number of account contacts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    },
                    plotLines: [{
                      color: '#919191',
                      width: 2,
                      value: 18,
                      dashStyle: 'dot',
                      label: {
                        text: 'Goal',
                        align: 'right',
                        x: 0
                    }
                  }]
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [17, 16, 16, {color:'#70AD47', y:18}, 13, {color:'#70AD47', y:22}, 17, {color:'#70AD47', y:18}, 16, 13, 11 ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#FDC44C"></span> Current month</li>
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
      </ul>
    </div>
    <p class="section-title">Account Contacts Within Rep's Network</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">32</span><strong>%</strong> of sales reps met the benchmark of <strong>40 customer contacts</strong> in their network.</p>
        <p>Reps averaged <strong>34 contacts</strong>.</p>
      </div>
      <div class="col-xs-9">
        <div id="size-regional-aves"></div>
        <script>
          $(function () {
            $('#size-regional-aves').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#FDC44C' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true,
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of contacts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    },

                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [38,39,18]
                },{
                  name: 'May',
                  data: [42,40,25]
                },{
                  name: 'June',
                  data: [44,45,30]
                },{
                  name: 'July',
                  data: [36,38,24]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="size-mgr-aves"></div>
        <ul class="region-legend">
          <li style="width:45.555%">East</li>
          <li style="width:35.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <script>
          $(function () {
            $('#size-mgr-aves').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'July Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: ['Al-Shorafa', 'Quigley', 'Young', 'Ross', 'Bradley', 'Wrast', 'Moran', 'Miranda', 'Holleron', 'Brazil', 'Mexico']
                },
                yAxis: {
                    title: {
                        text: 'Number of accounts contacted',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    },
                    plotLines: [{
                      color: '#919191',
                      width: 2,
                      value: 40,
                      dashStyle: 'dot',
                      label: {
                        text: 'Goal',
                        align: 'right',
                        x: 0
                    }
                  }]
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [{color:'#70AD47', y:42}, 35, 36, 37, 26, {color:'#70AD47', y:46}, {color:'#70AD47', y:42}, 35, 27, 24, 29]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#FDC44C"></span> Current month</li>
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
      </ul>
    </div>
  </section>