{% include sales/headerRow.html %}
<h3 style="text-align:center">Region and District Summary for July 2015</h3><br>
  <section class="section">
    <p class="section-title">Accounts Within Rep's Network</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">35</span><strong>%</strong> of sales reps met the benchmark of <strong>18 accounts</strong> in their network.</p>
        <p>Reps averaged <strong>16 accounts</strong> in their network.</p>
      </div>
      <div class="col-xs-9">
        <div id="rd-network-size-reg-ave"></div>
        <script>
          $(function () {
            $('#rd-network-size-reg-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true,
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of accounts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:17 },
                    { y:18 }, 
                    { y:9 }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:18 },
                    { y:19 }, 
                    { y:12 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:19 },
                    { y:20 }, 
                    { y:14 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:16, color: '#FDC44C' },
                    { y:18, color: '#FDC44C' }, 
                    { y:11, color: '#FDC44C' } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="rd-network-size-mgr-ave"></div>
        <ul class="region-legend">
          <li style="width:45.555%">East</li>
          <li style="width:35.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <script>
          $(function () {
            $('#rd-network-size-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                  categories: [ 'Young', 'Quigley', 'Al-Shorafa', 'Ross', 'Bradley', 'Wrast', 'Miranda', 'Moran', 'Holleron', 'Mexico', 'Brazil' ]
                },
                yAxis: {
                    title: {
                        text: 'Number of account contacts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [  {color:'#70AD47', y:19}, {color:'#70AD47', y:19}, {color:'#70AD47', y:18}, 16, 15, {color:'#70AD47', y:22}, 19, 18, 17, 13, 12 ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#FDC44C"></span> Current month</li>
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
      </ul>
    </div>
    <p class="section-title">Account Contacts Within Rep's Network</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">32</span><strong>%</strong> of sales reps met the benchmark of <strong>40 customer contacts</strong> in their network.</p>
        <p>Reps averaged <strong>34 contacts</strong>.</p>
      </div>
      <div class="col-xs-9">
        <div id="size-regional-aves"></div>
        <script>
          $(function () {
            $('#size-regional-aves').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true,
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Number of contacts',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:38 },
                    { y:39 }, 
                    { y:18 }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:42 },
                    { y:40 }, 
                    { y:25 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:44 },
                    { y:45 }, 
                    { y:30 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:36, color: '#FDC44C' },
                    { y:38, color: '#FDC44C' }, 
                    { y:24, color: '#FDC44C' } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="size-mgr-aves"></div>
        <ul class="region-legend">
          <li style="width:45.555%">East</li>
          <li style="width:35.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <script>
          $(function () {
            $('#size-mgr-aves').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: [ 'Al-Shorafa', 'Quigley', 'Young', 'Ross', 'Bradley', 'Wrast', 'Moran', 'Miranda', 'Holleron', 'Brazil', 'Mexico' ]
                },
                yAxis: {
                    title: {
                        text: 'Number of accounts contacted',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [ {color:'#70AD47', y:47}, {color:'#70AD47', y:44}, {color:'#70AD47', y:41}, 34, 31, {color:'#70AD47', y:49}, {color:'#70AD47', y:41}, 41, 31, 26, 27 ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#FDC44C"></span> Current month</li>
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
      </ul>
    </div>
  </section>