{% include sales/headerRow.html %}
<h3 style="text-align:center">Region and District Summary for July 2015</h3><br>
  <section class="section">        
    <p class="section-title">Meeting and Email Time with Customer</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">41</span><strong>%</strong> of sales reps met the benchmark of <strong>10.5 hours</strong>.</p>
        <p>Reps averaged <strong>9.4 hours</strong> with customers.</p>
      </div>
      <div class="col-xs-9">
        <div id="rd-time-reg-ave"></div>
        <hr class="separator">
        <script>
          $(function () {
            $('#rd-time-reg-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 180
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#FDC44C' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true,
                    itemStyle: {
                       fontWeight: 'normal',
                       fontSize: '11px'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Avg. hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [8,8,4]
                },{
                  name: 'May',
                  data: [10,10,9]
                },{
                  name: 'June',
                  data: [10,10,8]
                },{
                  name: 'July',
                  data: [9,11,8]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="rd-time-mgr-ave"></div>
        <ul class="region-legend">
          <li style="width:48.888%">East</li>
          <li style="width:32.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <div style="text-align:center">
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg width="221px" height="16px" viewBox="0 0 221 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <text id="Achieved-Benchmark" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="11" font-weight="normal" fill="#333333">
                <tspan x="23.2096" y="12">Achieved Benchmark</tspan>
              </text>
              <path d="M2,2 L18,2 L18,14 L2,14 L2,2 Z" id="Fill-125-Copy-5" fill="#70AD47" sketch:type="MSShapeGroup"></path>
              <g id="Group" sketch:type="MSLayerGroup" transform="translate(142.000000, 2.000000)">
                <text id="Benchmark" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="11" font-weight="normal" fill="#333333">
                  <tspan x="21.2096" y="10">Benchmark</tspan>
                </text>
                <circle id="Oval-1-Copy" fill="#919191" sketch:type="MSShapeGroup" cx="15.5" cy="6.5" r="1.5"></circle>
                <circle id="Oval-1-Copy-2" fill="#919191" sketch:type="MSShapeGroup" cx="8.5" cy="6.5" r="1.5"></circle>
                <circle id="Oval-1-Copy-3" fill="#919191" sketch:type="MSShapeGroup" cx="1.5" cy="6.5" r="1.5"></circle>
              </g>
            </g>
          </svg>
        </div>
        <script>
          $(function () {
            $('#rd-time-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 180
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'July Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                  enabled: false
                },
                xAxis: {
                  categories: ['AMS (All)', 'Al-Shorafa', 'Quigley', 'Young', 'Bradley', 'Ross',  'Miranda', 'Wrast', 'Moran', 'Holleron', 'Mexico', 'Brazil']
                },
                yAxis: {
                    title: {
                        text: 'Avg. hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    },
                    plotLines: [{
                      color: '#919191',
                      width: 2,
                      value: 10.5,
                      dashStyle: 'dot'
                  }]
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [ 9, {color:'#70AD47', y:11}, 10, 10, 7, 7, {color:'#70AD47', y:15}, {color:'#70AD47', y:12}, 10, 7, 9, 8 ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
    </div>
    <p class="section-title">Unique Accounts Contacted</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">26</span><strong>%</strong> of sales reps met the benchmark of <strong>16</strong> unique accounts contacted per week.</p>
        <p>Reps averaged <strong>12</strong> unique accounts contacted per week.</p>
      </div>
      <div class="col-xs-9">
        <div id="rd-contact-reg-ave"></div>
        <hr class="separator">
        <script>
          $(function () {
            $('#rd-contact-reg-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 180
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#FDC44C' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true,
                    itemStyle: {
                       fontWeight: 'normal',
                       fontSize: '11px'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Avg. accounts contacted per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [11,13,3,10]
                },{
                  name: 'May',
                  data: [14,16,5,13]
                },{
                  name: 'June',
                  data: [13,16,5,12]
                },{
                  name: 'July',
                  data: [12,15,5,12]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="rd-contact-mgr-ave"></div>
        <ul class="region-legend">
          <li style="width:48.888%">East</li>
          <li style="width:32.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <div style="text-align:center">
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg width="221px" height="16px" viewBox="0 0 221 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <text id="Achieved-Benchmark" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="11" font-weight="normal" fill="#333333">
                <tspan x="23.2096" y="12">Achieved Benchmark</tspan>
              </text>
              <path d="M2,2 L18,2 L18,14 L2,14 L2,2 Z" id="Fill-125-Copy-5" fill="#70AD47" sketch:type="MSShapeGroup"></path>
              <g id="Group" sketch:type="MSLayerGroup" transform="translate(142.000000, 2.000000)">
                <text id="Benchmark" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="11" font-weight="normal" fill="#333333">
                  <tspan x="21.2096" y="10">Benchmark</tspan>
                </text>
                <circle id="Oval-1-Copy" fill="#919191" sketch:type="MSShapeGroup" cx="15.5" cy="6.5" r="1.5"></circle>
                <circle id="Oval-1-Copy-2" fill="#919191" sketch:type="MSShapeGroup" cx="8.5" cy="6.5" r="1.5"></circle>
                <circle id="Oval-1-Copy-3" fill="#919191" sketch:type="MSShapeGroup" cx="1.5" cy="6.5" r="1.5"></circle>
              </g>
            </g>
          </svg>
        </div>
        <script>
          $(function () {
            $('#rd-contact-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 180
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'July Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                  enabled: false
                },
                xAxis: {
                  categories: ['AMS (All)', 'Al-Shorafa', 'Quigley', 'Ross', 'Bradley', 'Young', 'Miranda', 'Wrast', 'Holleron', 'Moran', 'Mexico', 'Brazil']
                },
                yAxis: {
                    title: {
                        text: 'Avg. accounts contacted per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    },
                    plotLines: [{
                      color: '#919191',
                      width: 2,
                      value: 16,
                      dashStyle: 'dot'
                  }]
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [ 12, 13, 13, 11, 11, 11, {color:'#70AD47', y:18}, {color:'#70AD47', y:17}, 14, 13, 6, 5 ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
    </div>
  </section>