{% include sales/headerRow.html %}
<h3 style="text-align:center">Region and District Summary for July 2015</h3><br>
  <section class="section">        
    <p class="section-title">Meeting and Email Time with Customer</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">41</span><strong>%</strong> of sales reps met the benchmark of <strong>10.5 hours</strong>.</p>
        <p>Reps averaged <strong>9.4 hours</strong> with customers.</p>
      </div>
      <div class="col-xs-9">
        <div id="rd-time-reg-ave"></div>
        <script>
          $(function () {
            $('#rd-time-reg-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true,
                      itemStyle: {
                         fontWeight: 'normal',
                         fontSize: '11px'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Avg. hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:8 },
                    { y:8 }, 
                    { y:4 }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:9 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:10 },
                    { y:10 }, 
                    { y:8 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:9, color: '#FDC44C' },
                    { y:11,color: '#FDC44C' }, 
                    { y:7, color: '#FDC44C' } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="rd-time-mgr-ave"></div>
        <ul class="region-legend">
          <li style="width:45.555%">East</li>
          <li style="width:35.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <script>
          $(function () {
            $('#rd-time-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: [ 'Al-Shorafa', 'Quigley', 'Young', 'Bradley', 'Ross', 'Wrast', 'Miranda', 'Moran', 'Holleron', 'Mexico', 'Brazil' ]
                },
                yAxis: {
                    title: {
                        text: 'Avg. hours per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [ 11, {color:'#70AD47', y:11}, 9, 7, 7, 12, {color:'#70AD47', y:12}, 10, 7, 8, {color:'#70AD47', y:7} ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#FDC44C"></span> Current month</li>
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
      </ul>
    </div>
    <p class="section-title">Unique Accounts Contacted</p>
    <div class="row">
      <div class="col-xs-3">
        <p>&nbsp;</p>
        <p><span class="h3">26</span><strong>%</strong> of sales reps met the benchmark of <strong>16</strong> unique accounts contacted per week.</p>
        <p>Reps averaged <strong>12</strong> unique accounts contacted per week.</p>
      </div>
      <div class="col-xs-9">
        <div id="rd-contact-reg-ave"></div>
        <script>
          $(function () {
            $('#rd-contact-reg-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by Region',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    enabled: true
                },
                yAxis: {
                    title: {
                        text: 'Avg. accounts contacted per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                xAxis: {
                  title: {
                    text: null
                  },
                  categories: ['East','West','LAMC','AMS (All)']
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  name: 'April',
                  data: [ 
                    { y:11 },
                    { y:13 }, 
                    { y:3 }  
                  ]
                },{
                  name: 'May',
                  data: [ 
                    { y:14 },
                    { y:16 }, 
                    { y:5 }
                  ]
                },{
                  name: 'June',
                  data: [ 
                    { y:13 },
                    { y:16 }, 
                    { y:5 }  
                  ]
                },{
                  name: 'July',
                  data: [ 
                    { y:12, color: '#FDC44C' },
                    { y:15, color: '#FDC44C' }, 
                    { y:5, color: '#FDC44C' } 
                  ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
             });
        });
        </script>
        <div id="rd-contact-mgr-ave"></div>
        <ul class="region-legend" style="margin-left:110px;">
          <li style="width:45.555%">East</li>
          <li style="width:35.555%">West</li>
          <li style="width:15.555%">LAMC</li>
        </ul>
        <script>
          $(function () {
            $('#rd-contact-mgr-ave').highcharts({
                chart: {
                    type: 'column',
                    height: 220
                },
                colors: [ '#CBCBCB','#919191','#6C6C6C','#4A4A4A' ],
                title: {
                    text: 'Monthly Average by District',
                    style: {
                      'color': '#444444',
                      'font-size': '14px'
                    }
                },
                legend: {
                    itemStyle: {
                        'color': '#444444',
                        'fontSize': '11px'
                    },
                    enabled: false
                },
                xAxis: {
                  categories: [ 'AMS (All)', 'Quigley', 'Al-Shorafa', 'Young', 'Bradley', 'Ross', 'Miranda', 'Wrast', 'Moran', 'Holleron', 'Mexico', 'Brazil']
                },
                yAxis: {
                    title: {
                        text: 'Avg. accounts contacted per week',
                        style: {
                        'font-size': '11px'
                      }
                    },
                    labels: {
                      enabled: true
                    }
                },
                plotOptions: {
                    series: {
                        color: '#919191',
                        dataLabels: {
                            enabled: true,
                            allowOverlap: true
                        }
                    }
                },
                series: [{
                  data: [ {color:'#496B86',y:12}, 14.2, 13.3, 12.7, 11.0, 10.3, {color:'#70AD47', y:17.9}, {color:'#70AD47', y:15.5}, 13.9, 13.8, 5.7, 4.1 ]
                }],
                credits: {
                  enabled: false
                },
                exporting: {
                  enabled: false
                }
            });
        });
        </script>
      </div>
      <ul class="symbol-legend">
        <li><span class="legend-color" style="background:#FDC44C"></span> Current month</li>
        <li><span class="legend-color" style="background:#70AD47"></span> Goal was met</li>
        <li><span class="legend-color" style="background:#496B86"></span> Informational element</li>
      </ul>
    </div>
  </section>