<!-- Panel -->
<div class="panel panel-default">
    <div class="panel-heading">
         <div class="panel-title">
            <span class="h5">Hours Worked</span>
            <!-- <a href="#" data-toggle="modal" data-target="#hours-worked-modal" class="pull-right btn btn-default btn-xs">
                details
            </a>  -->   
        </div>

    </div>
    <div class="panel-body">
        <p>The average span between your first and last emails or meetings per day.</p>
        <div>
            <script>
            $(function () {
            $('#hours-worked-chart').highcharts({
                chart: {
                    type: 'column',
                    height: 185
                },
                title: {
                    text: ''
                },
                colors: ['#3BB5EA', '#A6CEE3'],
                xAxis: {
                    categories: ['Week 1', '2', '3', 'Week 4'],
                    title : {
                        text: null
                    },
                },
                yAxis: {
                    title: {
                        text: 'Hours Per Day'
                    },
                    plotLines: [{
                        color: '#000000',
                        width: 1,
                        value: 8,
                        label: {
                            text: 'Goal',
                            align: 'right',
                            x: 0
                        }
                    }]
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: false
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'You',
                    data: [ 2, 9, 10, 6 
                    // {
                    //     y: 2, color: '#9ED100' 
                    // },{
                    //     y: 9, color: '#FFA91E' 
                    // },{ 
                    //     y: 10, color: '#FFA91E',
                    // },{
                    //     y: 6, color: '#9ED100',
                    // }
                    ].sort(function(){ return .5 - Math.random() }),
                }, {
                    name: 'Peers',
                    data: [10, 6, 8, 9].sort(function(){ return .5 - Math.random() })
                }],
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                }
            });
        });
        </script>
        <div class="chart-description">
            <span class="figure">10</span> average hours per day<br>
            <strong>11</strong> peer average
        </div>
        <div id="hours-worked-chart" class="chart"></div>
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="hours-worked-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
             <h5 class="modal-title" id="myModalLabel">Email Time Details</h5>

        </div>
        <div class="modal-body">
             <h5>Here are all the meetings you attended this week.</h5>

            <br>
            <div>
                <table class="table">
                    <tr>
                        <th>Person</th>
                        <th>Sent</th>
                        <th>Received</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Kent, Lead Engineer</td>
                        <td>1</td>
                        <td>18</td>
                        <td>20.1</td>
                    </tr>
                    <tr>
                        <td>Kent, Lead Engineer</td>
                        <td>1</td>
                        <td>18</td>
                        <td>20.1</td>
                    </tr>
                    <tr>
                        <td>Kent, Lead Engineer</td>
                        <td>1</td>
                        <td>18</td>
                        <td>20.1</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
