<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="h5">After-hours Work</span>
      <!-- <a href="#" data-toggle="modal" data-target="#emailModal"  class="pull-right btn btn-default btn-xs">
        details
      </a> -->    
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-subtitle">
      <p>Evaluate your team's work/life balance by days they met or sent &amp; received emails after hours.</p>
    </div>   
    <script>
    $(function () {
      $('#manager-balance-chart').highcharts({
        chart: {
          type: 'column',
          height: 185
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: ['1', '2', '3', '4', '5', '6', '7'],
          title: {
            text: 'Days with Over Time'
          },
          max: 6,
          plotLines: [{
            color: '#000000',
            width: 1,
            value: 4.5,
            zIndex: 10,
            label: {
              text: 'Goal',
              align: 'right',
              rotation: 0,
              x: 30
            }
          }]
        },
        yAxis: {
          title: {
            text: 'Number of People'
          }
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          line: {
            dataLabels: {
              enabled: false
            },
            enableMouseTracking: false
          }
        },
        series: [{
          type: 'column',
          color: '#3BB5EA',
          data: [ 3, 1, 2, 4, 2, 3, 5 ].sort(function(){ return .5 - Math.random()})
        }],
        credits: {
          enabled: false
        },
        exporting: {
          enabled: false
        }
      }, function(chart){
            $.each(chart.series[0].data,function(i,data){
              switch(data.x) {
                case 5:
                data.graphic.attr({ fill: '#A6D53A' });
                break;
                case 6:
                data.graphic.attr({ fill: '#A6D53A' });
                break;
                default:
                data.graphic.attr({ fill: '#3BB5EA' });
              }
            });
        });
    });
    </script>
<div class="chart-description">
  <span class="figure">3</span> average days<br>
  <strong>4</strong> peer average
</div>
<div id="manager-balance-chart" class="chart"></div>    
</div>
</div>