<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="h5">Impact</span>
      <!-- <a href="#" data-toggle="modal" data-target="#balanceModal"  class="pull-right btn btn-default btn-xs">
        details
      </a> -->    
    </div>

  </div>
  <div class="panel-body">
    <div class="chart-wrapper">   
      <div class="chart-description">
        <span class="big figure">1105</span> hours total for your team
      </div>
      <div>
        <table class="table">
          <tr>
            <th colspan="2">Meetings</th>
          </tr>
          <tr>
            <td>Average Meeting Size</td>
            <td><strong>45</strong> attendees</td>
          </tr>
          <tr>
            <td>Average Duration</td>
            <td><strong>2.3</strong> hours</td>
          </tr>
          <tr>
            <th colspan="2">Email</th>
          </tr>
          <tr>
            <td>Average Emails Sent</td>
            <td><strong>340</strong></td>
          </tr>
          <tr>
            <td>Average Emails Received</td>
            <td><strong>245</strong></td>
          </tr>
        </table>
      </div>
    </div>     
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="balanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="myModalLabel">Modal</h5>
      </div>
      <div class="modal-body">
        <h5>Title</h5>
        <p>Body</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

