<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="h5">Work Time</span>
      <!-- <a href="#" data-toggle="modal" data-target="#emailModal"  class="pull-right btn btn-default btn-xs">
        details
      </a> -->    
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-subtitle">
      <p>Encourage your team to schedule at least one two-hour block of focus time per day.</p>
    </div>   
    <script>
    $(function () {
      $('#manager-work-chart').highcharts({
        chart: {
          type: 'column',
          height: 185
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: ['0', '1', '2', '3', '4', '5', '6', '7'],
          title: {
            text: 'Days with Focus Time'
          },
          max: 5,
          plotLines: [{
            color: '#000000',
            width: 1,
            value: 3.5,
            zIndex: 10,
            label: {
              text: 'Goal',
              align: 'right',
              rotation: 0,
              x: 30
            }
          }]
        },
        yAxis: {
          title: {
            text: 'Number of People'
          }
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          line: {
            dataLabels: {
              enabled: false
            },
            enableMouseTracking: false
          },
          states: {
              hover: {
                  enabled: false
              }
          }
        },
        series: [{
          type: 'column',
          color: '#3BB5EA',
          data: [ 
            { y:3 },
            { y:1 },
            { y:2 },
            { y:2 },
            { y:4, color: '#A6D53A'},
            { y:2, color: '#A6D53A'}
          ],
          states: {
              hover: {
                  enabled: false
              }
          }
        }],
        credits: {
          enabled: false
        },
        exporting: {
          enabled: false
        }
      // }, function(chart){
      //       $.each(chart.series[0].data,function(i,data){
      //         switch(data.x) {
      //           case 3:
      //           // chart.series[0].options.color = "#A6D53A";
      //           // chart.series[0].update(chart.series[0].options);
      //           data.graphic.attr({ fill: '#A6D53A' });
      //           break;
      //           case 4:
      //           data.graphic.attr({ fill: '#A6D53A' });
      //           break;
      //           default:
      //           data.graphic.attr({ fill: '#3BB5EA' });
      //         }
      //       });
        });
    });
    </script>
<div class="chart-description">
  <span class="figure">2.5</span> average days<br>
  <strong>2</strong> peer average
</div>
<div id="manager-work-chart" class="chart"></div>    
</div>
</div>