
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="h5">Manager 1:1s</span>
      <a href="#" data-toggle="modal" data-target="#emailModal"  class="pull-right btn btn-default btn-xs">
        details
      </a>    
    </div>

  </div>
  <div class="panel-body">
    <div class="panel-subtitle">
      <p> Hours spent in 1:1s with your manager.</p>
    </div>   
    <script>
    $(function () {
      $('#manager-11s-chart').highcharts({
        chart: {
          type: 'areaspline',
          height: 185
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: ['Week 1', '2', '3', 'Week 4'],
          title: {
            text: null
          }
        },
        yAxis: {
          title: {
            text: 'Meeting Hours'
          },
          plotLines: [{
            color: '#000000',
            width: 1,
            value: 3,
            label: {
              text: 'Goal',
              align: 'right',
              x: 0
            }
          }]
        },
        legend: {
          enabled: true
        },
        plotOptions: {
          line: {
            dataLabels: {
              enabled: false
            },
            enableMouseTracking: false
          },
          series: {
            marker: {
              enabled: true,
              radius: 2
            }
          }
        },
        series: [{
          name: 'You',
          color: '#3BB5EA',
          data: [ 2, 1, 5, 6 ].sort(function(){ return .5 - Math.random() })
        }, {
          name: 'Peer',
          dashStyle: 'dash',
          color: '#666',
          type: 'spline',
          data: [3, 6, 1, 3 ].sort(function(){ return .5 - Math.random() })
        }],
        credits: {
          enabled: false
        },
        exporting: {
          enabled: false
        }
      });
});
</script>
<div class="chart-description">
  <span class="figure">3.3</span> average meeting hours<br>
  <strong>2.8</strong> peer average
</div>
<div id="manager-11s-chart" class="chart"></div>    
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="myModalLabel">Email Time Details</h5>

      </div>
      <div class="modal-body">
       <h5>Here are all the meetings you attended this week.</h5>

       <br>
       <div>
        <table class="table">
          <tr>
            <th>Person</th>
            <th>Sent</th>
            <th>Received</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>Kent, Lead Engineer</td>
            <td>1</td>
            <td>18</td>
            <td>20.1</td>
          </tr>
          <tr>
            <td>Kent, Lead Engineer</td>
            <td>1</td>
            <td>18</td>
            <td>20.1</td>
          </tr>
          <tr>
            <td>Kent, Lead Engineer</td>
            <td>1</td>
            <td>18</td>
            <td>20.1</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
