<!-- Panel -->
<div class="panel panel-default">
  <div class="panel-heading">
   <h3 class="panel-title">
    Meetings 
    <a href="#" data-toggle="modal" data-target="#meeting-panel-mgr-2-modal">
      <i class="glyphicon glyphicon-search pull-right"></i>
    </a>    
  </h3>

</div>
<div class="panel-body">
  <p><small>The average amount of time your {{ page.type }} is spending sending and receiving email each week.</small>
  </p>
  <p><span class="figure">6</span> hours spent in meetings</p>
  <div>
    <script>
    $(function () {
      $('#meeting-2-chart').highcharts({
        chart: {
          type: 'bar',
          height: 150
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: ['Mo', 'Tu', 'We', 'Tr', 'Fr']
        },
        yAxis: {
          title: {
            text: ''
          }
        },
        legend: {
          enabled: true
        },
        plotOptions: {
          line: {
            dataLabels: {
              enabled: false
            },
            enableMouseTracking: false
          }
        },
        series: [{
          name: 'Email',
          data: [9, 10, 6, 7, 8]
        }, {
          name: 'Meetings',
          data: [10, 6, 8, 9, 7]
        }],
        credits: {
          enabled: false
        }
      });
    });
    </script>
    <div id="meeting-2-chart" class="chart"></div>
  </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="meeting-panel-mgr-2-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Meetings</h4>

      </div>
      <div class="modal-body">
       <h5>Here are all the meetings you attended this week.</h5>

       <br>
       <div>
        <table class="table">
          <tr>
            <th>Meeting Type</th>
            <th>Time (h)</th>
          </tr>
          {% for meeting in site.data.meetings %}
          <tr>
            <td>
              {{ meeting.type }}
            </td>
            <td>
              {{ meeting.time }}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
