
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="h5">Time Breakdown</span>  
    </div>
  </div>
  <div class="panel-body">
  <div class="panel-subtitle">
    <p>Gain insights into the groups that you frequently collaborate with based on the time you spend in meetings. Identify teams that require the majority of your time and opportunities to collaborate more effectively.</p>
  </div>	
  <div class="chart-wrapper">
    <!-- <p><a href="#">Level</a> <a href="#">Groups</a> <a href="#">Function</a> <a href="#">Location</a></p> -->
    <div id="time-breakdown-chart" class="chart"></div>
     <script>
     $(function () {
          Highcharts.setOptions(Highcharts.theme);
          $('#time-breakdown-chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                width: 250,
                height: 250
            },
            title: {
                text: null
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            credits: {
              enabled: false
            },
            exporting: {
              enabled: false
            },
            series: [{
                name: "Time",
                colorByPoint: true,
                data: [{
                    name: "Manage Across",
                    y: 56.33
                }, {
                    name: "Manage Up",
                    y: 24.03
                    // sliced: true,
                    // selected: true
                }, {
                    name: "Desktime",
                    y: 10.38
                }]
              }]
            });
          });
      </script>
    </div>     
  </div>
</div>