---
layout: 
title:
permalink: /enterprise/
type: Your
page-title: Enterprise Dashboard
---
{% include db-header.html %}

  <div class="container" role="main">
    <div class="row page-header clearfix">
      <div class="col-md-12">
        <span class="h2">Enterprise Dashboard</span>
          <!-- a href="/team-dashboard/" class="btn btn-default">Switch to Team view</a -->
          <span class="pull-right">Time Period <select name="" id=""><option value="">July 2015 - October 2015</option></select></span>
      </div>
    </div>
    <!-- DISTRICTS -->
    <div class="row">
      <div class="col-md-12" style="background:#fff; border-radius:5px; border: solid 1px #ccc;  box-shadow: 0 1px 2px #ccc;">
        <div class="col-md-4" style="border-right:solid 1px #ccc; background: #fff; margin-left:0;">
          <h5>Accounts</h5>
          <p><span class="h1">718</span> Total</p>
          <p><span class="h3">18</span><strong>%</strong> Contacted</p>
          <p><span class="h3">6</span><strong>%</strong> Cold</p>
          <p><span class="h3">2</span><strong>%</strong> Engaged</p>
          <div id="ent-accts-trend"></div>
          <script>
            $(function () {
              $('#ent-accts-trend').highcharts({
                  chart: {
                      type: 'areaspline',
                      height: 185
                  },
                  title: {
                      text: ''
                  },
                  colors: ['#3BB5EA', '#A6CEE3'],
                  xAxis: {
                      categories: ['Jul', 'Aug', 'Sep', 'Oct'],
                  },
                  yAxis: {
                      title: {
                          text: null
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  plotOptions: {
                      line: {
                          dataLabels: {
                              enabled: false
                          },
                          enableMouseTracking: false
                      },
                  },
                  series: [{
                      name: 'Peer',
                      type: 'spline',
                      marker: {
                          radius: 0
                      },
                      color: '#666',
                      data: [1120, 668, 888, 591].sort(function(){ return .5 - Math.random() })
                  }],
                  credits: {
                      enabled: false
                  },
                  exporting: {
                      enabled: false
                  }
              });
          });
          </script>
        </div>
        <div class="col-md-8">
          <h5>Top 5 Districts</h5>
          <p class="btn btn-default" style="" id="toggle-data">Data</p>
            <div id="ent-chart-2"></div>
        </div>
      </div>
      <script>
      $(function(){
        $('#toggle-data').click(function(){
          $('#data').slideToggle();
        });
        $('#districts-datatable').dataTable({
          "order": [[1,"asc"]],
          "paging": false
        });
      });
      </script>
      <div id="data" class="col-md-12" style="padding:0 15px 15px 15px; background:#f9f9f9; margin:0 0.5% 15px 0.5%; border-radius: 0 0 5px 5px; border: solid 1px #ccc; border-top:none; box-shadow: 0 1px 2px #ccc; width:99%; display:none;">
        <br><br>
        <h3>The Data</h3>
        <h5>Customer Engagement</h5>
        <table id="districts-datatable" class="table sort-table">
          <thead>
            <tr>
              <th>District</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>District 1</td>
              <td>500</td>
            </tr>            
            <tr>
              <td>District 2</td>
              <td>200</td>
            </tr>            
            <tr>
              <td>District 3</td>
              <td>400</td>
            </tr>            
            <tr>
              <td>District 4</td>
              <td>600</td>
            </tr>            
            <tr>
              <td>District 5</td>
              <td>300</td>
            </tr>
          </tbody>
        </table>
        <script>
          $(function () {
            $('#ent-chart-2').highcharts({
                chart: {
              type: 'column',
              height: 285
            },
            title: {
              text: ''
            },
            xAxis: {
              categories: ['District 2', 'District 5', 'District 3', 'District 1', 'District 4'],
              title: {
                text: null
              }
            },
            yAxis: {
              title: {
                text: 'Performance'
              },
              max: 500,
              plotLines: [{
                color: '#000000',
                width: 1,
                value: 450,
                zIndex:10,
                label: {
                  text: 'Goal',
                  align: 'right',
                  x: 0
                }
              }]
            },
            legend: {
              enabled: false
            },
            plotOptions: {
              line: {
                dataLabels: {
                  enabled: false
                },
                enableMouseTracking: false,
              },
              series: {
                marker: {
                  enabled: true,
                  radius: 2
                }
              }
            },
            series: [{
              type: 'column',
              color: '#3BB5EA',
              data: [ 
                { y:222, color: '#3BB5EA'},
                { y:333, color: '#3BB5EA'},
                { y:444, color: '#3BB5EA'},
                { y:555, color: '#A6D53A'},
                { y:666, color: '#A6D53A'}
              ]
            }],
            credits: {
              enabled: false
            },
            exporting: {
              enabled: false
            }
          });
        });
        </script>
      </div>
    </div>
    <!-- LEVELS -->
    <br><br>
    <div class="row">
      <div class="col-md-12" style="background:#fff; border-radius:5px; border: solid 1px #ccc;  box-shadow: 0 1px 2px #ccc;">
        <div class="col-md-4" style="border-right:solid 1px #ccc; background: #fff; margin-left:0;">
          <h5>Accounts</h5>
          <p><span class="h1">201</span> Total</p>
          <p><span class="h3">12</span><strong>%</strong> Contacted</p>
          <p><span class="h3">10</span><strong>%</strong> Cold</p>
          <p><span class="h3">9</span><strong>%</strong> Engaged</p>
          <div id="ent-level-trend"></div>
          <script>
            $(function () {
              $('#ent-level-trend').highcharts({
                  chart: {
                      type: 'areaspline',
                      height: 185
                  },
                  title: {
                      text: ''
                  },
                  colors: ['#3BB5EA', '#A6CEE3'],
                  xAxis: {
                      categories: ['Jul', 'Aug', 'Sep', 'Oct'],
                  },
                  yAxis: {
                      title: {
                          text: null
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  plotOptions: {
                      line: {
                          dataLabels: {
                              enabled: false
                          },
                          enableMouseTracking: false
                      },
                  },
                  series: [{
                      name: 'Peer',
                      type: 'spline',
                      marker: {
                          radius: 0
                      },
                      color: '#666',
                      data: [1120, 668, 888, 591].sort(function(){ return .5 - Math.random() })
                  }],
                  credits: {
                      enabled: false
                  },
                  exporting: {
                      enabled: false
                  }
              });
          });
          </script>
        </div>
        <div class="col-md-8">
          <h5>Top 5 Levels</h5>
          <p class="btn btn-default" style="" id="toggle-data-levels">Data</p>
            <div id="ent-chart-levels"></div>
        </div>
      </div>
      <script>
      $(function(){
        $('#toggle-data-levels').click(function(){
          $('#data-levels').slideToggle();
        });
        $('#levels-datatable').dataTable({
          "order": [[1,"asc"]],
          "paging": false
        });
      });
      </script>
      <div id="data-levels" class="col-md-12" style="padding:0 15px 15px 15px; background:#f9f9f9; margin:0 0.5% 15px 0.5%; border-radius: 0 0 5px 5px; border: solid 1px #ccc; border-top:none; box-shadow: 0 1px 2px #ccc; width:99%; display:none;">
        <br><br>
        <h3>The Data</h3>
        <h5>Team Levels</h5>
        <table id="levels-datatable" class="table sort-table">
          <thead>
            <tr>
              <th>Level</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Level 1</td>
              <td>500</td>
            </tr>            
            <tr>
              <td>Level 2</td>
              <td>200</td>
            </tr>            
            <tr>
              <td>Level 3</td>
              <td>400</td>
            </tr>            
            <tr>
              <td>Level 4</td>
              <td>600</td>
            </tr>            
            <tr>
              <td>Level 5</td>
              <td>300</td>
            </tr>
          </tbody>
        </table>
        <script>
          $(function () {
            $('#ent-chart-levels').highcharts({
                chart: {
              type: 'column',
              height: 285
            },
            title: {
              text: ''
            },
            xAxis: {
              categories: ['Level 2', 'Level 5', 'Level 3', 'Level 1', 'Level 4'],
              title: {
                text: null
              }
            },
            yAxis: {
              title: {
                text: 'Performance'
              },
              max: 500,
              plotLines: [{
                color: '#000000',
                width: 1,
                value: 450,
                zIndex:10,
                label: {
                  text: 'Goal',
                  align: 'right',
                  x: 0
                }
              }]
            },
            legend: {
              enabled: false
            },
            plotOptions: {
              line: {
                dataLabels: {
                  enabled: false
                },
                enableMouseTracking: false,
              },
              series: {
                marker: {
                  enabled: true,
                  radius: 2
                }
              }
            },
            series: [{
              type: 'column',
              color: '#3BB5EA',
              data: [ 
                { y:222, color: '#3BB5EA'},
                { y:333, color: '#3BB5EA'},
                { y:444, color: '#3BB5EA'},
                { y:555, color: '#A6D53A'},
                { y:666, color: '#A6D53A'}
              ]
            }],
            credits: {
              enabled: false
            },
            exporting: {
              enabled: false
            }
          });
        });
        </script>
      </div>
    </div>
  
{% include db-footer.html %}