---
layout: 
title:
permalink: /executive-v2/
type: Your
page-title: Executive Dashboard
---
{% include db-header.html %}

<div class="container" role="main">
  <div class="row page-header clearfix">
    <br><span class="pull-right">Time Period <select name="" id=""><option value="">July 2015</option></select></span>
    <span class="h2">{{ page.page-title }}</span>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
            <span class="text-uppercase">Leader</span><br>
            <span class="h3"><a href="#" style="color:#A6D53A">District 12</a></span><br>
            <span class="text-muted text-uppercase">Engaged +5%</span>
          <div id="trend"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="text-uppercase">Laggard</span><br>
          <span class="h3"><a href="#" style="color:#e31a1c">District 2</a></span><br>
          <span class="text-muted text-uppercase">Engaged +5%</span>
          <div id="trend"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <span class="text-uppercase">You</span><br>
              <span class="h3"><a href="#" style="color:#A6D53A">Level 6</a></span><br>
              <span class="text-muted text-uppercase">Engaged 5%</span>
            </div>
            <div class="col-md-6">
              <span class="text-uppercase">Peer</span><br>
              <span class="h3"><a href="#" style="color:#e31a1c">Level 1</a></span><br>
              <span class="text-muted text-uppercase">Engaged 4%</span>
            </div>
          </div>
          <div id="trend"></div>
        </div>
      </div>
    </div>
  </div>

  <h3 style="font-weight:300;">Accounts Covered</h3>

  <p><span class="h1">30</span><strong>%</strong> Cold</p>
  <table class="table table-condensed table-hover">
    <tr>
      <td>Cold</td>
      <td style="text-align:right;">30% <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 1%</span></td>
    </tr>
    <tr class="active">
      <td>Engaged</td>
      <td style="text-align:right;">17% <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 3%</span></td>
    </tr>
    <tr>
      <td>Contacted</td>
      <td style="text-align:right;">50% <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 5%</span></td>
    </tr>
  </table>

  <div id="ent-accts-trend"></div>
  <script>
  $(function () {
    Highcharts.setOptions(Highcharts.theme);
    $('#ent-accts-trend').highcharts({
      chart: {
        type: 'column',
        height: 175
      },
      title: {
        text: null
      },
      xAxis: {
        categories: ['Apr', 'May', 'Jun', 'Jul'],
      },
      yAxis: {
        title: {
          text: '% of Accounts'
        }
      },
      plotOptions: {
        column : {
          stacking: 'percent'
        }
      },
      series: [{
        name: 'Cold',
        data: [8, 7, 4, 5]
      }, {
        name: 'Contacted',
        data: [4, 5, 4, 3]
      }, {
        name: 'Engaged',
        data: [2, 2, 3, 4]
      }], 
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      }
    });
  });
  </script>

  <p><span class="h5 text-center">District Breakdown: % Engaged Accounts</span><a href="#" class="btn btn-default btn-xs pull-right" style="" id="toggle-data">Data</a></p>
  <div id="ent-chart-2"></div>

  <script>
  $(function(){
    $('#toggle-data').click(function(){
      $('#data').slideToggle();
    });
    $('#districts-datatable').dataTable({
      "order": [[0,"asc"]],
      "paging": false
    });
  });
  </script>


  <script>
  $(function () {
    $('#ent-chart-2').highcharts({
      chart: {
        height: 375
      },
      title: {
        text: ''
      },
      xAxis: {
        categories: ['D8', 'D5', 'D7', 'D10', 'D4','D2', 'D9', 'D3', 'D1', 'D6'],
        title: {
          text: null
        }
      },
      yAxis: {
        title: {
          text: 'Average Time with Customer'
        },
        plotLines: [{
          color: '#000000',
          width: 1,
          value: 65,
          zIndex:10,
          label: {
            text: 'Goal',
            align: 'right',
            x: 0
          }
        }]
      },
      legend: {
        enabled: false
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled: false
          },
          enableMouseTracking: false,
        },
        series: {
          marker: {
            enabled: true,
            radius: 2
          }
        }
      },
      series: [{
        type: 'column',
        color: '#3BB5EA',
        data: [ 
        { y:25, color: '#3BB5EA'},
        { y:28, color: '#3BB5EA'},
        { y:35, color: '#3BB5EA'},
        { y:39, color: '#3BB5EA'},
        { y:45, color: '#3BB5EA'},
        { y:55, color: '#3BB5EA'},
        { y:58, color: '#3BB5EA'},
        { y:70, color: '#A6D53A'},
        { y:85, color: '#A6D53A'},
        { y:89, color: '#A6D53A'}
        ]
      }],
      credits: {
        enabled: false
      },
      exporting: {
        enabled: false
      }
    });
});
</script>

<h3 style="font-weight:300;">AE Behaviors</h3>
<p><span class="h1">27</span> Average Time with Customer</p>
<table class="table table-condensed table-hover">
  <tr class="active">
    <td>Hours with Customer</td>
    <td style="text-align:right;">27 <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 1%</span></td>
  </tr>
  <tr>
    <td>Meeting Hours</td>
    <td style="text-align:right;">48 <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 3%</span></td>
  </tr>
  <tr>
    <td>Hours with External People</td>
    <td style="text-align:right;">35 <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 5%</span></td>
  </tr>
  <tr>
    <td>Hours with Internal People</td>
    <td style="text-align:right;">43 <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 5%</span></td>
  </tr>
</table>

<div id="ent-level-trend"></div>
<script>
$(function () {
  $('#ent-level-trend').highcharts({
    chart: {
      type: 'areaspline',
      height: 175
    },
    title: {
      text: ''
    },
    colors: ['#3BB5EA', '#A6CEE3'],
    xAxis: {
      categories: ['Jul', 'Aug', 'Sep', 'Oct'],
    },
    yAxis: {
      title: {
        text: null
      }
    },
    legend: {
      enabled: false
    },
    plotOptions: {
      line: {
        dataLabels: {
          enabled: false
        },
        enableMouseTracking: false
      }
    },
    series: [{
      name: 'Peer',
      marker: {
        radius: 3
      },
      data: [61, 73, 89, 75]
    }],
    credits: {
      enabled: false
    },
    exporting: {
      enabled: false
    }
  });
});
</script>

<p><span class="h5 text-center">District Breakdown: Average Time with Customer</span></p>
<div id="ent-chart-levels"></div>

</div>
{% include db-footer.html %}