---
layout: 
title: Executive
permalink: /executive/
type: Your
page-title: Executive Dashboard
---
{% include db-header.html %}
  <div class="container" role="main">
    <div class="row page-header clearfix">
      <div class="">
        <h2 class="h2">{{ page.page-title }}</h2>
          <!-- a href="/team-dashboard/" class="btn btn-default">Switch to Team view</a -->
          <span class="pull-right">Time Period <select name="" id=""><option value="">July 2015</option></select></span>
      </div>
      <div>
          <!-- Nav tabs -->
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
            <li role="presentation"><a href="#accounts" aria-controls="accounts" role="tab" data-toggle="tab">Accounts</a></li>
            <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Team</a></li>
          </ul>
          <br>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="summary">
              <!-- DISTRICTS -->
              <div class="row">
                <div class="col-md-12" style="background:#fff; border-radius:5px; border: solid 1px #ccc;  box-shadow: 0 1px 2px #ccc;">
                  <div class="col-md-4" style="border-right:solid 1px #ccc; background: #fff; margin-left:0;min-height:425px">
                    <h3 style="font-weight:300;">Accounts Covered</h3>
                    <p><span class="h1">30</span><strong>%</strong> Cold</p>
                    <table class="table table-condensed table-hover">
                      <tr>
                        <td>Cold</td>
                        <td style="text-align:right;">17% <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 1%</span></td>
                      </tr>
                      <tr style="background:#ffc;">
                        <td>Engaged</td>
                        <td style="text-align:right;">30% <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 3%</span></td>
                      </tr>
                      <tr>
                        <td>Contacted</td>
                        <td style="text-align:right;">50% <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 5%</span></td>
                      </tr>
                    </table>
                    <p>&nbsp;</p>
                    <div id="ent-accts-trend"></div>
                    <script>
                      $(function () {
                        Highcharts.setOptions(Highcharts.theme);
                        $('#ent-accts-trend').highcharts({
                            chart: {
                                type: 'column',
                                height: 175
                            },
                            title: {
                                text: null
                            },
                            xAxis: {
                                categories: ['Apr', 'May', 'Jun', 'Jul'],
                            },
                            yAxis: {
                                title: {
                                    text: '% of Accounts'
                                }
                            },
                            plotOptions: {
                                column : {
                                  stacking: 'percent'
                                }
                            },
                            series: [{
                                name: 'Cold',
                                data: [8, 7, 4, 5]
                            }, {
                                name: 'Contacted',
                                data: [4, 5, 4, 3]
                            }, {
                                name: 'Engaged',
                                data: [2, 2, 3, 4]
                            }], 
                            credits: {
                                enabled: false
                            },
                            exporting: {
                                enabled: false
                            }
                        });
                    });
                    </script>
                  </div>
                  <div class="col-md-8">
                    <br>
                    <p><span class="h5 text-center">District Breakdown: % Engaged Accounts</span><a href="#" class="btn btn-default btn-xs pull-right" style="" id="toggle-data">Data</a></p>
                      <div id="ent-chart-2"></div>
                  </div>
                </div>
                <script>
                $(function(){
                  $('#toggle-data').click(function(){
                    $('#data').slideToggle();
                  });
                  $('#districts-datatable').dataTable({
                    "order": [[0,"asc"]],
                    "paging": false
                  });
                });
                </script>
                <div id="data" class="col-md-12" style="padding:0 15px 15px 15px; background:#f9f9f9; margin:0 0.5% 15px 0.5%; border-radius: 0 0 5px 5px; border: solid 1px #ccc; border-top:none; box-shadow: 0 1px 2px #ccc; width:99%; display:none;"><br>
                  <table id="districts-datatable" class="table sort-table">
                    <thead>
                      <tr>
                        <th>District</th>
                        <th>Cold</th>
                        <th>Contacted</th>
                        <th>Engaged</th>
                        <!-- <th>Total</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      {% for dist in site.data.ExecutiveDashboardDistricts %}
                      <tr>
                        <td>{{ dist.District }}</td>
                        <td>{{ dist.Cold }}</td>
                        <td>{{ dist.Contacted }}</td>
                        <td>{{ dist.Engaged }}</td>
                        <!-- <td>{{ dist.Total }}</td> -->
                      </tr>
                      {% endfor %}            
                    </tbody>
                  </table>
                  <script>
                    $(function () {
                      $('#ent-chart-2').highcharts({
                          chart: {
                          height: 375
                        },
                        title: {
                          text: ''
                        },
                        xAxis: {
                          categories: ['D8', 'D5', 'D7', 'D10', 'D4','D2', 'D9', 'D3', 'D1', 'D6'],
                          title: {
                            text: null
                          }
                        },
                        yAxis: {
                          title: {
                            text: 'Average Time with Customer'
                          },
                          plotLines: [{
                            color: '#000000',
                            width: 1,
                            value: 65,
                            zIndex:10,
                            label: {
                              text: 'Benchmark',
                              align: 'right',
                              x: 0
                            }
                          }]
                        },
                        legend: {
                          enabled: false
                        },
                        plotOptions: {
                          line: {
                            dataLabels: {
                              enabled: false
                            },
                            enableMouseTracking: false,
                          },
                          series: {
                            marker: {
                              enabled: true,
                              radius: 2
                            }
                          }
                        },
                        series: [{
                          type: 'column',
                          color: '#3BB5EA',
                          data: [ 
                            { y:25, color: '#3BB5EA'},
                            { y:28, color: '#3BB5EA'},
                            { y:35, color: '#3BB5EA'},
                            { y:39, color: '#3BB5EA'},
                            { y:45, color: '#3BB5EA'},
                            { y:55, color: '#3BB5EA'},
                            { y:58, color: '#3BB5EA'},
                            { y:70, color: '#A6D53A'},
                            { y:85, color: '#A6D53A'},
                            { y:89, color: '#A6D53A'}
                          ]
                        }],
                        credits: {
                          enabled: false
                        },
                        exporting: {
                          enabled: false
                        }
                      });
                    });
                  </script>
                </div>
              </div>
              <!-- LEVELS -->
              <br><br>
              <div class="row">
                <div class="col-md-12" style="background:#fff; border-radius:5px; border: solid 1px #ccc;  box-shadow: 0 1px 2px #ccc;">
                  <div class="col-md-4" style="border-right:solid 1px #ccc; background: #fff; margin-left:0;min-height:425px">
                    <h3 style="font-weight:300;">AE Behaviors</h3>
                    <p><span class="h1">27</span> Average Time with Customer</p>
                    <table class="table table-condensed table-hover">
                      <tr style="background:#ffc;">
                        <td>Hours with Customer</td>
                        <td style="text-align:right;">27 <span class="badge alert-success"><i class="glyphicon glyphicon-triangle-bottom"></i> 1%</span></td>
                      </tr>
                      <tr>
                        <td>Meeting Hours</td>
                        <td style="text-align:right;">48 <span class="badge alert-warning"><i class="glyphicon glyphicon-triangle-top"></i> 3%</span></td>
                      </tr>
                      <tr>
                        <td>Hours with External People</td>
                        <td style="text-align:right;">35 <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 5%</span></td>
                      </tr>
                      <tr>
                        <td>Hours with Internal People</td>
                        <td style="text-align:right;">43 <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 5%</span></td>
                      </tr>
                    </table>
                    <!-- 
                    Total,1224,71,48,35,43
                    Average,245,14,10,7,9 
                    -->
                    <div id="ent-level-trend"></div>
                    <script>
                      $(function () {
                        $('#ent-level-trend').highcharts({
                            chart: {
                                type: 'areaspline',
                                height: 175
                            },
                            title: {
                                text: ''
                            },
                            colors: ['#3BB5EA', '#A6CEE3'],
                            xAxis: {
                                categories: ['Jul', 'Aug', 'Sep', 'Oct'],
                            },
                            yAxis: {
                                title: {
                                    text: null
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            plotOptions: {
                                line: {
                                    dataLabels: {
                                        enabled: false
                                    },
                                    enableMouseTracking: false
                                }
                            },
                            series: [{
                                name: 'Peer',
                                marker: {
                                    radius: 3
                                },
                                data: [61, 73, 89, 75]
                            }],
                            credits: {
                                enabled: false
                            },
                            exporting: {
                                enabled: false
                            }
                        });
                    });
                    </script>
                  </div>
                  <div class="col-md-8">
                    <br>
                    <p><span class="h5 text-center">District Breakdown: Average Time with Customer</span> <a href="#" class="btn btn-default btn-xs pull-right" style="" id="toggle-data-levels">Data</a></p>
                      <div id="ent-chart-levels"></div>
                  </div>
                </div>
                <script>
                $(function(){
                  $('#toggle-data-levels').click(function(){
                    $('#data-levels').slideToggle();
                  });
                  $('#levels-datatable').dataTable({
                    "order": [[0,"asc"]],
                    "paging": false
                  });
                });
                </script>
                <div id="data-levels" class="col-md-12" style="padding:0 15px 15px 15px; background:#f9f9f9; margin:0 0.5% 15px 0.5%; border-radius: 0 0 5px 5px; border: solid 1px #ccc; border-top:none; box-shadow: 0 1px 2px #ccc; width:99%; display:none;"><br>
                  <table id="levels-datatable" class="table sort-table">
                    <thead>
                      <tr>
                        <th>Level</th>
                        <th>Total</th>
                        <th>Hours with Customer</th>
                        <th>Meeting Hours</th>
                        <th>Hours with External People</th>
                        <th>Hours with Internal People</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for level in site.data.ExecutiveDashboardLevels %}
                      <tr>
                        <td>{{ level.Level }}</td>
                        <td>{{ level.Total }}</td>
                        <td>{{ level.Customer }}</td>
                        <td>{{ level.Meeting }}</td>
                        <td>{{ level.External }}</td>
                        <td>{{ level.Internal }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <script>
                    $(function () {
                      $('#ent-chart-levels').highcharts({
                          chart: {
                        type: 'column',
                        height: 375
                      },
                      title: {
                        text: null
                      },
                      xAxis: {
                        categories: ['D8', 'D5', 'D7', 'D10', 'D4','D2', 'D9', 'D3', 'D1', 'D6'],
                        title: {
                          text: null
                        }
                      },
                      yAxis: {
                        title: {
                          text: 'Average Hours Per Week'
                        },
                        // max: 700,
                        plotLines: [{
                          color: '#000000',
                          width: 1,
                          value: 25,
                          zIndex:10,
                          label: {
                            text: 'Benchmark',
                            align: 'right',
                            x: 0
                          }
                        }]
                      },
                      legend: {
                        enabled: false
                      },
                      plotOptions: {
                        line: {
                          dataLabels: {
                            enabled: false
                          },
                          enableMouseTracking: false,
                        },
                        series: {
                          marker: {
                            enabled: true,
                            radius: 2
                          }
                        }
                      },
                      series: [{
                        type: 'column',
                        color: '#3BB5EA',
                        data: [ 
                            { y:5, color: '#3BB5EA'},
                            { y:8, color: '#3BB5EA'},
                            { y:15, color: '#3BB5EA'},
                            { y:19, color: '#3BB5EA'},
                            { y:21, color: '#3BB5EA'},
                            { y:23, color: '#3BB5EA'},
                            { y:24, color: '#3BB5EA'},
                            { y:28, color: '#A6D53A'},
                            { y:31, color: '#A6D53A'},
                            { y:32, color: '#A6D53A'}
                          ]
                      }],
                      credits: {
                        enabled: false
                      },
                      exporting: {
                        enabled: false
                      }
                    });
                  });
                  </script>
                </div>
              </div>
              <br><br>
              <div class="row hidden">
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Time With Customer</div>
                    <div class="panel-body">
                      <p><strong>3.8 hours</strong></p>
                      <p><span class="badge alert-warning">40% below benchmark</span></p>
                      <div id="ent-time-with-customers"></div>
                      <script>
                        $(function () {
                          $('#ent-time-with-customers').highcharts({
                              chart: {
                            height: 275
                          },
                          title: {
                            text: ''
                          },
                          xAxis: {
                            categories: ['District 2', 'District 5', 'District 3', 'District 1', 'District 4'],
                            title: {
                              text: 'Hours with Customer'
                            },
                            tickWidth: 0,
                            labels: {
                              enabled: false
                            },
                            plotLines: [{
                              color: '#000000',
                              width: 1,
                              value: 2.5,
                              zIndex:10,
                              label: {
                                text: 'Goal',
                                rotation: 0,
                                align: 'right',
                                x: -5
                              }
                            }]
                          },
                          yAxis: {
                            title: {
                              text: 'Number of Districts'
                            },
                            gridLineWidth: 0,
                            labels: {
                              enabled: false
                            }
                          },
                          legend: {
                            enabled: false
                          },
                          plotOptions: {
                            line: {
                              dataLabels: {
                                enabled: false
                              },
                              enableMouseTracking: false,
                            },
                            series: {
                              marker: {
                                enabled: true,
                                radius: 2
                              }
                            }
                          },
                          series: [{
                            type: 'column',
                            color: '#3BB5EA',
                            data: [ 
                              { y:2, color: '#3BB5EA'},
                              { y:3, color: '#3BB5EA'},
                              { y:7, color: '#3BB5EA'},
                              { y:5, color: '#A6D53A'},
                              { y:6, color: '#A6D53A'}
                            ]
                          }],
                          credits: {
                            enabled: false
                          },
                          exporting: {
                            enabled: false
                          }
                        });
                      });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Time with External People</div>
                    <div class="panel-body">
                      <p><strong>3.8 hours</strong></p>
                      <p><span class="badge alert-warning">40% below benchmark</span></p>
                      <div id="ent-time-with-external-people"></div>
                      <script>
                        $(function () {
                          $('#ent-time-with-external-people').highcharts({
                              chart: {
                            height: 275
                          },
                          title: {
                            text: ''
                          },
                          xAxis: {
                            categories: ['District 2', 'District 5', 'District 3', 'District 1', 'District 4'],
                            title: {
                              text: 'Hours with External People'
                            },
                            tickWidth: 0,
                            labels: {
                              enabled: false
                            },
                            plotLines: [{
                              color: '#000000',
                              width: 1,
                              value: 2.5,
                              zIndex:10,
                              label: {
                                text: 'Goal',
                                rotation: 0,
                                align: 'right',
                                x: -5
                              }
                            }]
                          },
                          yAxis: {
                            title: {
                              text: 'Number of Districts'
                            },
                            gridLineWidth: 0,
                            labels: {
                              enabled: false
                            }
                          },
                          legend: {
                            enabled: false
                          },
                          plotOptions: {
                            line: {
                              dataLabels: {
                                enabled: false
                              },
                              enableMouseTracking: false,
                            },
                            series: {
                              marker: {
                                enabled: true,
                                radius: 2
                              }
                            }
                          },
                          series: [{
                            type: 'column',
                            color: '#3BB5EA',
                            data: [ 
                              { y:2, color: '#3BB5EA'},
                              { y:3, color: '#3BB5EA'},
                              { y:7, color: '#3BB5EA'},
                              { y:5, color: '#A6D53A'},
                              { y:6, color: '#A6D53A'}
                            ]
                          }],
                          credits: {
                            enabled: false
                          },
                          exporting: {
                            enabled: false
                          }
                        });
                      });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">Time with Internal People</div>
                    <div class="panel-body">
                      <p><strong>3.8 hours</strong></p>
                      <p><span class="badge alert-warning">40% below benchmark</span></p>
                      <div id="ent-time-with-internal-people"></div>
                      <script>
                        $(function () {
                          $('#ent-time-with-internal-people').highcharts({
                              chart: {
                            height: 275
                          },
                          title: {
                            text: ''
                          },
                          xAxis: {
                            categories: ['District 2', 'District 5', 'District 3', 'District 1', 'District 4'],
                            title: {
                              text: 'Hours with Internal People'
                            },
                            tickWidth: 0,
                            labels: {
                              enabled: false
                            },
                            plotLines: [{
                              color: '#000000',
                              width: 1,
                              value: 2.5,
                              zIndex:10,
                              label: {
                                text: 'Goal',
                                rotation: 0,
                                align: 'right',
                                x: -5
                              }
                            }]
                          },
                          yAxis: {
                            title: {
                              text: 'Number of Districts'
                            },
                            gridLineWidth: 0,
                            labels: {
                              enabled: false
                            }
                          },
                          legend: {
                            enabled: false
                          },
                          plotOptions: {
                            line: {
                              dataLabels: {
                                enabled: false
                              },
                              enableMouseTracking: false,
                            },
                            series: {
                              marker: {
                                enabled: true,
                                radius: 2
                              }
                            }
                          },
                          series: [{
                            type: 'column',
                            color: '#3BB5EA',
                            data: [ 
                              { y:2, color: '#3BB5EA'},
                              { y:3, color: '#3BB5EA'},
                              { y:7, color: '#3BB5EA'},
                              { y:5, color: '#A6D53A'},
                              { y:6, color: '#A6D53A'}
                            ]
                          }],
                          credits: {
                            enabled: false
                          },
                          exporting: {
                            enabled: false
                          }
                        });
                      });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="accounts">
              <div class="panel panel-default">
                <div class="panel-body">
                  <script>
                    $(function(){
                      $('#accounts-table').dataTable({
                        "order": [[0,"asc"]],
                        "paging": false
                      });
                    });
                    </script>
                  <table class="table" id="accounts-table">
                    <thead>
                      <tr>
                        <th>Account Name</th>
                        <th>Region</th>
                        <th>District</th>
                        <th>CISO Contacted?</th>
                        <th>Status</th>
                        <th>Time With Customer</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for account in site.data.ExecutiveDashboardAccountsAnon %}
                        <tr>
                          <td>{{ account.Name }}</td>
                          <td>{{ account.Region }}</td>
                          <td>{{ account.District }}</td>
                          <td><span class="{{account.Highlight}} {{account.Color}}">{{ account.ContactedCISO }}</span></td>
                          <td><span class="{{account.Highlight}} {{account.Color}}">{{ account.Status }}</span></td>
                          <td>{{ account.Time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="team">
              <div class="panel panel-default">
                <div class="panel-body">
                  <script>
                  $(function(){
                    $('#team-table').dataTable({
                      "order": [[0,"asc"]],
                      "paging": false
                    });
                  });
                  </script>
                  <table class="table" id="team-table">
                    <thead>
                      <tr>
                        <th>District Name</th>
                        <th>Region</th>
                        <th>Total Hours with Customer</th>
                        <th>Meetings with Customer</th>
                        <th>Mails with Customer</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for team in site.data.ExecutiveDashboardTeam %}
                        <tr>
                          <td>{{ team.District }}</td>
                          <td>{{ team.Region }}</td>
                          <td>{{ team.Hours }} hours</td>
                          <td>{{ team.Meeting }} hours</td>
                          <td>{{ team.Mails }} hours</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div>
  
{% include db-footer.html %}