---
layout: 
title:
permalink: /manager/
type: Your
page-title: Manager Dashboard
---
{% include db-header.html %}

<div class="container" role="main">
  <div class="row page-header clearfix">
    <div class="col-md-12">
      <span class="h2">{{ page.type | capitalize }} Goals</span>
      <!-- a href="/team-dashboard/" class="btn btn-default">Switch to Team view</a -->
      <span class="pull-right">Time Period <select name="" id=""><option value="">6/26/2015 - 7/2/2015</option></select></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>Activities this week</h3>
      <span class="h5">Meeting and Email Summary</span><br><br> 
      {% include progress-bar-2.html %}
      <br>
    </div>
    <div class="col-md-4">
      <h3>Goal attainment</h3>
      <p><span class="figure">32%</span> of your team achieved their goals</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% include manager-meetings.html %}  
    </div>
    <div class="col-md-4">
      {% include manager-work.html %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      {% include manager-email.html %}
    </div>
    <div class="col-md-4">
      {% include manager-balance.html %}
    </div>
    <div class="col-md-4">
      {% include manager-oli.html %}
    </div>
  </div>
</div>   

{% include db-footer.html %}