---
layout: 
title: 
permalink: /personal-goals/
page-title: Personal Goals Dashboard
---

{% include db-header.html %}
  
  <style>
  body {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
    color:#555;
  }
  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  .theme-showcase .navbar .container {
    width: auto;
  }
  .panel-body {
    min-height: 350px;
    position: relative;
  }
  .panel-body p {
    font-size: 12px;
  }
  .chart {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
  }
  .chart-description {
    position: absolute;
    top:60px; left: 0; right: 0;
    text-align: center !important;
    z-index: 1;
  }
  .panel .panel-heading {
    background: #fff;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .panel-subtitle p {
    max-width: 46em;
  }
  .modal .modal-footer {
    text-align: left;
  }
  .days-chart, .days-chart-legend {
    position: absolute;
    top:105px;
    text-align: center;
    left:50%;
    margin-left: -195px;
    width:350px;
  }
  .days-chart-vis {
    margin-top:75px;
  }
  .days-chart .timeline {
    background: #fff url('{{ site.baseurl }}/images/days-chart-bkd.png') no-repeat 0 12.5px !important;
    margin: 0 -2px;
  }
  .days-chart.work-week-days .timeline {
    width: 10%;
  }
  .days-chart.full-week-days .timeline {
    width: 5%;
  }
  .days-chart .work-day {
    background-color: #ABE200;
    background-image: -webkit-linear-gradient(#ABE200 0%, #9BCE00 100%);
    background-image: -o-linear-gradient(#ABE200 0%, #9BCE00 100%);
    background-image: linear-gradient(#ABE200 0%, #9BCE00 100%);
  }
  .days-chart .work-day.key,
  .days-chart .goal-met-false.key {
    height: 12px;
    width: 12px;
  }
  .days-chart li {
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 25px;
    white-space: nowrap;
  }
  .days-chart .day {
    width: 25px;
    margin:0 -1px;
    border-radius: 100%;
    background-color: #d7d7d7;
  }
  .days-chart .sep {
    width:10%;
    background: #fff url(' {{ site.baseurl }}/images/days-chart-bkd.png') no-repeat 0 12.5px;
    margin:0 -2px;
  }
  .days-chart .goal-met-true {
    background-color: #ABE200;
    background-image: -webkit-linear-gradient(#ABE200 0%, #9BCE00 100%);
    background-image: -o-linear-gradient(#ABE200 0%, #9BCE00 100%);
    background-image: linear-gradient(#ABE200 0%, #9BCE00 100%);
  }
  .days-chart .goal-met-false {
    background-color: #FFC960;
    background-image: -webkit-linear-gradient(#FFC960 0%, #FFA00C 100%);
    background-image: -o-linear-gradient(#FFC960 0%, #FFA00C 100%);
    background-image: linear-gradient(#FFC960 0%, #FFA00C 100%);
  }
  .figure {
    font-size: 38px;
    font-weight: 300; 
  }
  .day-label {
    font-size: 11px;
    color: #555555;
    position: absolute;
    bottom:-20px;
    width:100%;
    text-align: center;
    text-align: -webkit-center;
    display: block;
  }
  .days-chart-legend {
    top: 275px;
  }
  dd {
    margin-bottom:15px;
  }
  #user-index {
    display: none;
  }
  @media screen and (min-width: 960px) {
    .show-index-true #user-index {
      position:fixed;
      right:0;
      top:30px;
      bottom:0;
      width:250px;
      padding:25px 15px;
      background:#efefef;
      overflow-x: auto;
      display: none;
    }
    .show-index-true .row {
      padding-right:150px;
    }
  }
  </style>
</head>
<body role="document">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Volometrix</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">METRICS</a></li>
          <li><a href="#about">COLLABORATION</a></li>
          <li><a href="#contact">TOPICS</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">RELATIONSHIPS <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#" id="show-help-trigger">Help</a></li>
          <li><a href="#" id="show-code-trigger">Code</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" role="main">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-weight:200;">How you spent your time</h1>
        <p>This dashboard shows you recent activity quality and quantity of time you spend in email and meetings.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="show-code">{% include moment-panel.html %}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="show-code">{% include progress-bar-panel-2.html %}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="show-code">{% include last-week-productivity-panel.html %}</div>
      </div>
      <div class="col-md-4">
        <div class="show-code">{% include goals-for-the-week-panel.html %}</div>
      </div>
      <div class="col-md-4">
        <div class="show-code">{% include time-breakdown-panel.html %}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="show-code">{% include meeting-panel-2.html %} </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="show-code">{% include key-people-panel.html %}</div>
      </div>
      <div class="col-md-4">
        <div class="show-code">{% include work-panel-2.html %}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="show-code">{% include email-effectiveness-panel.html %} </div> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="show-code">{% include email-panel-2.html %}</div>
      </div>
      <div class="col-md-4">
        <div class="show-code">{% include after-hours-work-panel.html %}</div>
      </div>
      <div class="col-md-4">
        <div class="show-code">{% include impact-panel-2.html %}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="show-code">{% include hours-worked-panel.html %}</div>
      </div>
      <div class="col-md-4">
        <div class="show-code">{% include manager-11s-panel.html %}</div>
      </div>
      <div class="col-md-4">
        <div class="show-code">{% include direct-11s-panel.html %}</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="show-code">{% include user-info.html %}</div>
      </div>
    </div>
    <hr>
    {% include welcome-modal.html %}
    <script>
    $(function(){
      // $('#progress-bar-2-compare').addClass('show-code');
      var highestCol = Math.max($('.panel-body').height());
      $('.equalHeight').height(highestCol);
      $('.panel-body').css({ 
        'height' : highestCol 
      });
      // $('.toggle-code').hide();
      // $('#show-code-trigger').click(function(){
      //   $('.toggle-code').toggle();
      // });
    });
    </script>
  </div>
  {% include db-footer.html %}
</body>
</html>
