---
layout: dashboard
title:
permalink: /symc-sales/
page-title: Sales v5
---
<h3 class="page-header">Sales Productivity Dashboard</h3>
<div class="row panel panel-default" id="acct-coverage-section">
  <div class="panel-body">
    {% include symc/acctCoverage.html %}
  </div> 
</div>
<div class="row panel panel-default" id="acct-network-section">
  <div class="panel-body">
    {% include symc/acctNetwork.html %}
  </div> 
</div>
<div class="row panel panel-default" id="acct-time-spent-section">
  <div class="panel-body">
    {% include symc/acctTimeSpent.html %}
  </div> 
</div>
<h3>Teams</h3>
<div class="row">
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">
      <span class="h3">East</span><br> 
    200<br>
    <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">
      <span class="h3">West</span><br> 
    200<br>
    <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </div>
  </div>
  <div class="col-md-4 panel panel-default">
    <div class="panel-body">
      <span class="h3">Latin America</span><br> 
    200<br>
    <span class="badge alert-danger"><i class="glyphicon glyphicon-triangle-top"></i> 20%</span>
    </div>
  </div>
</div>
<div class="row panel panel-default" id="team-region-section">
  <div class="panel-body">
    {% include symc/teamRegion.html %}
  </div>
</div>
